* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  margin: 32px;
  background-color: #fdfdfd;
  color: #222;
}

@media (max-width: 760px) {
  body {
    margin: 16px;
  }
}

h1 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 16px;
}

footer {
  margin-top: 40vh;
}

.navigation ul {
  list-style: none;
  color: #aac;
}

.navigation li {
  margin-bottom: 12px;
}

.navigation a {
  color: royalblue;
  text-underline-offset: 4px;
}

.navigation a:visited {
  color: #7050ff;
}

.navigation span {
  display: inline-block;
  margin-right: 16px;
}

.navigation__topPage span {
  color: #222;
}

.navigation_currentPage {
  color: #222;
}

code {
  font-family: courier, monospace;
  background-color: #d4e0ff;
  border-radius: 3px;
  padding: 0 3px;
}