summary {
  display: grid;  /* 初期値の display: list-item 以外を指定したので、デフォルトの三角形アイコンは非表示になる */
  grid-template-columns:  1fr 24px;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  padding: 16px 24px;
  border: 1px solid #d2beff;
  font-weight: bold;
  color: #002255;
  /* Safariで表示されるデフォルトの三角形アイコンを消します */
  &::-webkit-details-marker {
    display: none;
  }
}
/* --------アイコンを作ります-------- */
.icon {
  display: block;
  position: relative;
  width: 24px;
  transform-origin: center 43%;
  transition: transform 0.4s;
  /* アイコンのバーのスタイル */
  &::before, &::after {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 3px;
    background-color: #7050ff;
  }
  &::before {
    left: 0;
    transform: rotate(45deg);
  }
  &::after {
    right: 0;
    transform: rotate(-45deg);
  }
}
/* アコーディオンが開いた時のスタイル */
details[open] .icon {
  transform: rotate(180deg);
}
/* summaryタグの疑似要素でアイコンを作るパターン
（注意）疑似要素のトランジションはSafari 17.4以前でうまくいかない */
.pseudoElement {
  summary::after {
    content: "";
    display: block;
    width: 25px;
    height: 16px;
    margin-left: 6px;
    background-image: url("icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center 43%;
    transition: transform 0.4s;
  }
  details[open] summary::after {
    transform: rotate(180deg);
  }
}

/* --------アコーディオンの中身のスタイル-------- */
.content {
  background-color: #f0f2ff;
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
